table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

thead tr {
    background: rgb(77, 77, 77);
    color: #fff;
}

tbody tr:nth-child(even) td {
    background: rgb(236, 236, 236);
}

tbody tr:nth-child(odd) td {
    background: #fff;
}

.mode-FT8 {
    background: rgb(255, 190, 190) !important;
}

.mode-APRS {
    background: rgb(255, 255, 190) !important;
}

.mode-CW {
    background: rgb(190, 255, 190) !important;
}